body {
  background-color: aliceblue
}

.center {
  width: 30%;
  margin-left: auto;
  margin-right: auto;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Collapsible {
  color: black
}

.Collapsible__trigger.is-open {
  color: black
}



